.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 5s ease-in-out;
    animation: scrollAnimation 5s infinite; /* Ajout de l'animation */
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    /* ... Ajoute d'autres étapes selon le nombre de cartes que tu as ... */
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .active {
    opacity: 1;
    transform: scale(1.1);
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .slider-button:focus {
    outline: none;
  }
  